.ac-container {
	width:400px;
	text-align:left;
	margin:10px auto 30px auto;
}

.ac-container label {
	font-family:BebasNeueRegular, 'Arial Narrow', Arial, sans-serif;
	position:relative;
	z-index:20;
	display:block;
	height:30px;
	cursor:pointer;
	color:#777777;
	text-shadow:rgba(255, 255, 255, 0.796875) 1px 1px 1px;
	line-height:33px;
	font-size:19px;
	background-image:-webkit-linear-gradient(top, rgb(255, 255, 255) 1%, rgb(234, 234, 234) 100%);
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#000000;
	box-shadow:rgba(155, 155, 155, 0.296875) 0px 0px 0px 1px, rgba(255, 255, 255, 0.898438) 1px 0px 0px 0px inset, rgba(0, 0, 0, 0.0976563) 0px 2px 2px;
	padding:5px 20px 5px 20px;
}

.ac-container label:hover {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#C6E1EC;
	color:#F87B10;
	text-shadow:rgba(255, 255, 255, 0.597656) 0px 1px 1px;
	box-shadow:rgba(155, 155, 155, 0.296875) 0px 0px 0px 1px, rgba(0, 0, 0, 0.0976563) 0px 2px 2px;
}

.ac-container label:hover::after, .ac-container input:checked + label:hover::after {
	content:'';
	position:absolute;
	width:24px;
	height:24px;
	right:13px;
	top:7px;
	background-image:url(../images/arrow_down.png);
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	background-origin:initial;
	background-clip:initial;
	background-color:transparent;
}

.ac-container input:checked + label:hover::after {
	background-image:url(../images/arrow_up.png);
}

.ac-container input {
	display:none;
}

.ac-container article {
	background-image:initial;
	background-repeat-x:initial;
	background-repeat-y:initial;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:rgba(255,255,255,0.50);
	margin-top:-1px;
	overflow:hidden;
	height:0;
	position:relative;
	z-index:10;
	-webkit-transition-property:height, box-shadow;
	transition-property:height, box-shadow;
	-o-transition-property:height, box-shadow;
	-ms-transition-property:height, box-shadow;
	-moz-transition-property:height, box-shadow;
	-webkit-transition-duration:0.3s, 0.6s;
	transition-duration:0.3s, 0.6s;
	-o-transition-duration:0.3s, 0.6s;
	-ms-transition-duration:0.3s, 0.6s;
	-moz-transition-duration:0.3s, 0.6s;
	-webkit-transition-timing-function:ease-in-out, linear;
	transition-timing-function:ease-in-out, linear;
	-o-transition-timing-function:ease-in-out, linear;
	-ms-transition-timing-function:ease-in-out, linear;
	-moz-transition-timing-function:ease-in-out, linear;
	-webkit-transition-delay:initial, initial;
	transition-delay:initial, initial;
	-o-transition-delay:initial, initial;
	-ms-transition-delay:initial, initial;
	-moz-transition-delay:initial, initial;
}

.ac-container article p {
	font-style:italic;
	color:#777777;
	line-height:23px;
	font-size:14px;
	text-shadow:rgba(255, 255, 255, 0.796875) 1px 1px 1px;
	padding:20px;
}

.ac-container input:checked ~ article {
	-webkit-transition-property:height, box-shadow;
	transition-property:height, box-shadow;
	-o-transition-property:height, box-shadow;
	-ms-transition-property:height, box-shadow;
	-moz-transition-property:height, box-shadow;
	-webkit-transition-duration:0.5s, 0.1s;
	transition-duration:0.5s, 0.1s;
	-o-transition-duration:0.5s, 0.1s;
	-ms-transition-duration:0.5s, 0.1s;
	-moz-transition-duration:0.5s, 0.1s;
	-webkit-transition-timing-function:ease-in-out, linear;
	transition-timing-function:ease-in-out, linear;
	-o-transition-timing-function:ease-in-out, linear;
	-ms-transition-timing-function:ease-in-out, linear;
	-moz-transition-timing-function:ease-in-out, linear;
	-webkit-transition-delay:initial, initial;
	transition-delay:initial, initial;
	-o-transition-delay:initial, initial;
	-ms-transition-delay:initial, initial;
	-moz-transition-delay:initial, initial;
	box-shadow:rgba(155, 155, 155, 0.296875) 0px 0px 0px 1px;
}

.ac-container input:checked ~ article.ac-small {
	height:140px;
}

.ac-container input:checked ~ article.ac-medium {
	height:180px;
}

.ac-container input:checked ~ article.ac-large {
	height:300px;
}

