input.submit, input.submit:focus, input.submit:active {
    background: #2e94cb;
}
a {
    color: #676767;
}
#primary-menu ul li a.current {
    background-color: #2e94cb;
}
.fixed #primary-menu ul li a.current {    background-color: #2e94cb; }
#footer a:hover {
    color: #676767;
}
.tweets a:hover , #footer .tweets a:hover, .tweets .tweet_time a:hover, #footer .tweets .tweet_time a:hover {
    color: #676767;
}
.photostream a:hover, #footer .photostream a:hover {
    background-color: #2e94cb;
    border: 1px solid #2e94cb;
}
.team-member-info .social-personal li a:hover {
    background-color: #2e94cb;
}
.skills-graph li span {
    background-color: #2e94cb;
    color: #000000;
}
.services div:hover, .services div:hover a {
    background-color:#2e94cb;
}
.grey:hover { background-color:#2e94cb; }
.highlight1 {
    background-color: #2e94cb;
}
.item-info-overlay {
    background-color: #2e94cb;
    opacity: 0.4;
}
.hexagon .item-info-overlay {
    background-color: #2e94cb;
}
.circle .item-info-overlay {
    background-color: #2e94cb;
    opacity: 0.4;
}
.triangle .item-info-overlay {
    background-color: #2e94cb;
}
ul.item-nav li:hover {
    background-color: #2e94cb;
}
.contact-success {
    background-color: #2e94cb;
}
.form .contact-error {
    color: #2e94cb;
}

.flex-direction-nav li a:hover { background-color: none; }

.widget a:hover {
    color: #2e94cb;
}
.widget ul#recentcomments a.Author: (Shared on MafiaShare.net)hover {
    color: #2e94cb;
}
.post-title h2.title a:hover {
    color: #2e94cb;
}
.post-meta a:hover {
    color: #2e94cb;
}
.post-info div.date {
    background-color: #2e94cb;
}
.comment .author a:hover {
    color: #2e94cb;
}
.comment .comment-meta .reply:hover {
    background-color:#2e94cb;
}
.wp-pagenavi span.current {
    background-color: #2e94cb;
}
